<h1>Ticket Details</h1>

<p>
<strong>Event Title:</strong> <%= @ticket.event_title %>
</p>

<p>
<strong>Event Type:</strong> <%= @ticket.event_type %>
</p>

<p>
<strong>Venue:</strong> <%= @ticket.venue %>
</p>

<p>
<strong>Date:</strong> <%= @ticket.date %>
</p>

<p>
<strong>Time:</strong> <%= @ticket.time %>
</p>

<p>
<strong>Tickets Available:</strong> <%= @ticket.tickets_available %>
</p>

<p>
<strong>Tickets Total:</strong> <%= @ticket.total_tickets %>
</p>


<%= link_to 'Back', tickets_path %>